In [1]:
# pip install numpy
import numpy as np
# https://numpy.org/
# https://numpy.org/doc/stable/reference/generated/numpy.array.html

In [15]:
 
# conda install pandas
import pandas as pd
import numpy as np
# https://pandas.pydata.org/
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [11]:
pip install pandas

Requirement already satisfied: pandas in c:\users\yedidiabi\anaconda3\lib\site-packages (1.3.4)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pytz>=2017.3 in c:\users\yedidiabi\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\yedidiabi\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\yedidiabi\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\yedidiabi\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [16]:
pd.read_excel('Hepatitis_Xy_train.xlsx')

,ID,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category
0,1,64,m,44.5,87.8,15.1,23.2,12.3,9.49,7.70,78.0,20.0,74.3,0
1,2,44,m,49.0,27.3,40.2,31.1,13.0,8.91,-999.00,81.5,27.6,72.8,1
2,3,49,f,34.9,37.9,15.3,19.4,7.1,5.30,5.88,83.0,7.9,62.5,0
3,4,65,m,39.1,45.8,23.1,27.5,6.4,7.00,6.23,73.0,27.1,64.3,0
4,5,55,m,47.6,71.9,25.8,24.5,5.8,9.24,4.63,83.0,29.1,76.7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,426,38,m,39.9,62.9,71.7,43.9,10.4,10.90,7.01,99.0,88.3,73.1,0
426,427,41,m,44.7,74.9,25.2,20.2,6.3,10.34,4.23,74.0,23.7,72.1,0
427,428,59,m,39.8,49.4,25.4,21.4,24.7,7.50,3.69,86.0,18.7,71.9,0
428,429,48,f,44.4,52.5,16.4,23.4,4.5,9.06,6.78,74.0,10.3,73.1,0
429,430,41,m,42.3,55.9,19.6,18.9,10.9,7.15,3.29,86.0,24.5,76.1,0

In [17]:
import numpy as np